<div class="pub-item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Title -->
    <h3 class="pub-title" itemprop="headline">
      {{ post.title }}
    </h3>

    <!-- Authors -->
    {% if post.authors %}
      <p class="pub-authors">{{ post.authors }}</p>
    {% endif %}

    <!-- Venue + Year -->
    {% if post.venue %}
      <p class="pub-venue">
        Published in <em>{{ post.venue }}</em>, ({{ post.date | date: "%Y" }})
      </p>
    {% endif %}

    <!-- Download Links -->
    {% if post.paperurl %}
      <p class="pub-download">
        <a href="{{ post.paperurl }}" target="_blank">[Download here]</a>
      </p>
    {% endif %}

  </article>
</div>
